<li *ngFor="let note of notes; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
  <div>

    <!--({{ note.id }})-->
   <p (keyup)="save(createNote(title.textContent, content.textContent, note.id))" #title contenteditable="true" class="p-1 m-0"><strong>{{ note.title }}</strong></p>
   <p (keyup)="save(createNote(title.textContent, content.textContent, note.id))" contenteditable="true" #content class="p-1 m-0">{{ note.content }}</p>

  </div>
  <div>
    <button (click)="deleteNoteFromCategory(note)" class="btn btn-outline-success"><i class="fas fa-check"></i></button>
  </div>


</li>
<li class="list-group-item">
  <div class="p-1">
      <input #noteTitle type="text" placeholder="Add a title..." class="form-control mt-1">
      <textarea #noteContent placeholder="Add a note..." class="form-control mt-1" rows="3"></textarea>
      <button (click)="addNoteToCategory(createNote(noteTitle.value, noteContent.value));
            noteTitle.value=''; noteContent.value=''"
      class="btn btn-primary mt-2">
        <i class="fas fa-plus-square"></i> Add
      </button>
  </div>
</li>
